h2{
  font-size: 2em;
  margin-top: 0px;
  margin-bottom: 0px;
}
h3{
  margin-top: 10px;
  margin-bottom: 0px;
}
p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: serif;
}
td{
  font-size: 1.2em;
}
